<% breadcrumb :signup %>

<%= form_for @user, html: { class: "form-signup" } do |f| %>
  <h2 class="form-signup-heading"><%= t(".page_title") %></h2>

  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <% @user.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>

  <%= f.text_field :email, class: "form-control", placeholder: "Email address" %>
  <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
  <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password" %>
  <%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block" %>
  <p class="text-center">Already signed up?</p>
  <p class="text-center"><%= link_to "Sign in", signin_path, class: "btn btn-lg btn-default btn-block" %></p>
<% end %>